# Access transformer for Thut Essentials

public net.minecraft.ChatFormatting code # code
public net.minecraft.world.inventory.AbstractContainerMenu lastSlots # lastSlots
#public net.minecraft.network.chat.TranslatableComponent FORMAT_PATTERN # FORMAT_PATTERN
#public-f net.minecraft.world.level.chunk.ChunkGenerator strongholdSeed # strongholdSeed
public net.minecraft.server.MinecraftServer storageSource # storageSource
public net.minecraft.server.level.ServerPlayer isChangingDimension # isChangingDimension
#public net.minecraft.world.level.block.entity.SignBlockEntity messages # messages
public net.minecraft.world.entity.Entity level # level